:root {
    --main-bg-color: #3d3d3d;
    --main-text-selected-color: #CCCCCC;
}

body {
    background: var(--main-bg-color);
}

.reveal p.hashtag {
    color: var(--main-text-selected-color);
}

.reveal blockquote {
    color: var(--main-text-selected-color);
}
